@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba(115, 103, 240, 0.24);
      border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    /** Primary Colors */
    --primary-100: #e3e1fc;
    --primary-200: #c7c2f9;
    --primary-300: #aba4f6;
    --primary-400: #8f85f3;
    --primary-500: #7367f0;
    --primary-600: #675dd8;
    --primary-700: #6258cc;
    --primary-800: #5c52c0;
    --primary-900: #564db4;

    /** Primary Opacity Colors */
    --primary-opacity-lighter: rgba(115, 103, 240, 0.08);
    --primary-opacity-light: rgba(115, 103, 240, 0.16);
    --primary-opacity-main: rgba(115, 103, 240, 0.24);
    --primary-opacity-dark: rgba(115, 103, 240, 0.32);
    --primary-opacity-darker: rgba(115, 103, 240, 0.38);

    /** Primary Shadows */
    --primary-shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --primary-shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --primary-shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

    /** Secondary Colors */
    --secondary-100: #e6e6e9;
    --secondary-200: #cccdd3;
    --secondary-300: #b3b5bc;
    --secondary-400: #999ca6;
    --secondary-500: #808390;
    --secondary-600: #737682;
    --secondary-700: #6d6f7a;
    --secondary-800: #666973;
    --secondary-900: #60626c;

    /** Secondary Opacity Colors */
    --secondary-opacity-lighter: rgba(128, 131, 144, 0.08);
    --secondary-opacity-light: rgba(128, 131, 144, 0.16);
    --secondary-opacity-main: rgba(128, 131, 144, 0.24);
    --secondary-opacity-dark: rgba(128, 131, 144, 0.32);
    --secondary-opacity-darker: rgba(128, 131, 144, 0.38);

    /** Secondary Shadows */
    --secondary-shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --secondary-shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --secondary-shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

    /** Info Colors */
    --info-100: #ccf1f6;
    --info-200: #99e3ed;
    --info-300: #66d6e3;
    --info-400: #33c8da;
    --info-500: #00bad1;
    --info-600: #00a7bc;
    --info-700: #009eb2;
    --info-800: #0095a7;
    --info-900: #008c9d;

    /** Info Opacity Colors */
    --info-opacity-lighter: rgba(0, 186, 209, 0.08);
    --info-opacity-light: rgba(0, 186, 209, 0.16);
    --info-opacity-main: rgba(0, 186, 209, 0.24);
    --info-opacity-dark: rgba(0, 186, 209, 0.32);
    --info-opacity-darker: rgba(0, 186, 209, 0.38);

    /** Info Shadows */
    --info-shadow-small: 0 1px 2px 0 rgba(0, 186, 209, 0.05);
    --info-shadow-medium: 0 4px 6px -1px rgba(0, 186, 209, 0.1),
      0 2px 4px -1px rgba(0, 186, 209, 0.06);
    --info-shadow-large: 0 10px 15px -3px rgba(0, 186, 209, 0.1),
      0 4px 6px -2px rgba(0, 186, 209, 0.05);

    /** Success Colors */
    --success-100: #d4f4e2;
    --success-200: #a9e9c5;
    --success-300: #7edda9;
    --success-400: #53d28c;
    --success-500: #28c76f;
    --success-600: #24b364;
    --success-700: #22a95e;
    --success-800: #209f59;
    --success-900: #1e9553;

    /** Success Opacity Colors */
    --success-opacity-lighter: rgba(40, 199, 111, 0.08);
    --success-opacity-light: rgba(40, 199, 111, 0.16);
    --success-opacity-main: rgba(40, 199, 111, 0.24);
    --success-opacity-dark: rgba(40, 199, 111, 0.32);
    --success-opacity-darker: rgba(40, 199, 111, 0.38);

    /** Success Shadows */
    --success-shadow-small: 0 1px 2px 0 rgba(40, 199, 111, 0.05);
    --success-shadow-medium: 0 4px 6px -1px rgba(40, 199, 111, 0.1),
      0 2px 4px -1px rgba(40, 199, 111, 0.06);
    --success-shadow-large: 0 10px 15px -3px rgba(40, 199, 111, 0.1),
      0 4px 6px -2px rgba(40, 199, 111, 0.05);

    /** Warning Colors */
    --warning-100: #ffecd9;
    --warning-200: #ffd9b4;
    --warning-300: #ffc58e;
    --warning-400: #ffb269;
    --warning-500: #ff9f43;
    --warning-600: #e68f3c;
    --warning-700: #d98739;
    --warning-800: #cc7f36;
    --warning-900: #bf7732;

    /** Warning Opacity Colors */
    --warning-opacity-lighter: rgba(255, 159, 67, 0.08);
    --warning-opacity-light: rgba(255, 159, 67, 0.16);
    --warning-opacity-main: rgba(255, 159, 67, 0.24);
    --warning-opacity-dark: rgba(255, 159, 67, 0.32);
    --warning-opacity-darker: rgba(255, 159, 67, 0.38);

    /** Warning Shadows */
    --warning-shadow-small: 0 1px 2px 0 rgba(255, 159, 67, 0.05);
    --warning-shadow-medium: 0 4px 6px -1px rgba(255, 159, 67, 0.1),
      0 2px 4px -1px rgba(255, 159, 67, 0.06);
    --warning-shadow-large: 0 10px 15px -3px rgba(255, 159, 67, 0.1),
      0 4px 6px -2px rgba(255, 159, 67, 0.05);

    /** Error Colors */
    --error-100: #ffdbdc;
    --error-200: #ffb7b9;
    --error-300: #ff9497;
    --error-400: #ff7074;
    --error-500: #ff4c51;
    --error-600: #e64449;
    --error-700: #d94145;
    --error-800: #cc3d41;
    --error-900: #bf393d;

    /** Error Opacity Colors */
    --error-opacity-lighter: rgba(255, 76, 81, 0.08);
    --error-opacity-light: rgba(255, 76, 81, 0.16);
    --error-opacity-main: rgba(255, 76, 81, 0.24);
    --error-opacity-dark: rgba(255, 76, 81, 0.32);
    --error-opacity-darker: rgba(255, 76, 81, 0.38);

    /** Error Shadows */
    --error-shadow-small: 0 1px 2px 0 rgba(255, 76, 81, 0.05);
    --error-shadow-medium: 0 4px 6px -1px rgba(255, 76, 81, 0.1),
      0 2px 4px -1px rgba(255, 76, 81, 0.06);
    --error-shadow-large: 0 10px 15px -3px rgba(255, 76, 81, 0.1),
      0 4px 6px -2px rgba(255, 76, 81, 0.05);

    /** Gray Colors */
    --action-focus: #eaeaec;
    --main-02: #d5d5d8;
    --action-disabled: #c1bfc5;
    --text-disabled: #acaab1;
    --main-05: #97959e;
    --action-active: #82808b;
    --text-secondary: #6d6b77;
    --main-08: #595564;
    --text-primary: #444050;

    /** Extra Colors */
    --main-color: #2f2b3d;
    --action-hover: #f3f2f3;
    --action-selected: #eeeeef;
    --divider: #e6e6e8;
    --action-disabled-bg: #dedde0;
    --outline-border: #cdccd0;
    --input-border: #d1d0d4;
    --backdrop-overlay: #97959e;

    /** Gray Opacity Colors */
    --gray-opacity-lighter: rgba(46, 38, 61, 0.08);
    --gray-opacity-light: rgba(46, 38, 61, 0.16);
    --gray-opacity-main: rgba(46, 38, 61, 0.24);
    --gray-opacity-dark: rgba(46, 38, 61, 0.32);
    --gray-opacity-darker: rgba(46, 38, 61, 0.38);

    /** Gray Shadows */
    --gray-shadow-extra-small: 0 1px 2px 0 rgba(46, 38, 61, 0.05);
    --gray-shadow-small: 0 1px 2px 0 rgba(46, 38, 61, 0.1);
    --gray-shadow-medium: 0 4px 6px -1px rgba(46, 38, 61, 0.1),
      0 2px 4px -1px rgba(46, 38, 61, 0.06);
    --gray-shadow-large: 0 10px 15px -3px rgba(46, 38, 61, 0.1),
      0 4px 6px -2px rgba(46, 38, 61, 0.05);
    --gray-shadow-extra-large: 0 20px 25px -5px rgba(46, 38, 61, 0.1),
      0 10px 10px -5px rgba(46, 38, 61, 0.04);

    /** Custom Colors */
    --snackbar: #2f2b3d;
    --body-bg: #f8f7fa;
    --paper-bg: #ffffff;
    --table-header: #ffffff;
    --chat-bg: #f3f2f5;
    --track-bg: #f1f0f2;
    --grey-light: #fafafa;
    --text-primary: #2f2b3de5;

    --bg-facebook: #4267b2;
    --bg-twitter: #1da1f2;
  }
}
